:root {
  --scrollbar-width-thin: 0.5rem;
  --scrollbar-color-thumb: rgb(var(--bs-primary-rgb));
  --scrollbar-color-track: rgb(var(--bs-light-rgb));
}

/*  Firefox (CSS Scrollbar)
 *  https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Scrollbars
 */
:root {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
}

/*  Chrome, Edge, Safari
 *  https://css-tricks.com/almanac/properties/s/scrollbar/
 *  https://www.digitalocean.com/community/tutorials/css-scrollbars
 */
:root::-webkit-scrollbar {
  width: var(--scrollbar-width-thin);
}
:root::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color-thumb);
}
:root::-webkit-scrollbar-track {
  background-color: var(--scrollbar-color-track);
}
