---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/fonts.css";
import "../styles/tailwind.css";
---

<!doctype html>
<html
  lang="en"
  class="scrollbar-thin scrollbar-thumb-primary scrollbar-track-transparent"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body
    class="font-text text-primary lowercase selection:bg-primary selection:text-white"
  >
    <Header />
    <section class="bg-[url('/texture.png')] bg-white h-screen">
      projects
    </section>
    <Footer />
  </body>
</html>
