---
import Contacts from "../components/Contacts.astro";
import Profile from "../components/Profile.astro";
import { ProjectList } from "../components/ProjectList.tsx";
import { ALT_FOOTER_BG, PROJECTS_HEADING } from "../strings.ts";
import "../styles/fonts.css";
import "../styles/tailwind.css";
---

<!doctype html>
<html
  lang="en"
  class="scrollbar-thin scrollbar-thumb-primary scrollbar-track-transparent"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body
    class="font-text text-primary lowercase selection:bg-primary selection:text-white"
  >
    <header
      class="min-h-screen grid items-center bg-[url('/texture.png')] bg-white"
    >
      <Profile />
    </header>

    <section
      class="min-h-screen grid items-center bg-[url('/texture.png')] bg-white"
    >
      <article
        class="container mx-auto py-12 px-8 min-h-full grid grid-rows-[auto_1fr] gap-6"
      >
        <h2 class="font-title font-extrabold text-5xl">
          {PROJECTS_HEADING}
        </h2>
        <ProjectList client:load />
      </article>
    </section>

    <footer
      class="min-h-screen grid items-center bg-primary/90 text-white selection:!bg-white selection:!text-primary"
    >
      <Contacts />
      <img
        src="/footer.jpg"
        alt={ALT_FOOTER_BG}
        class="-z-10 fixed top-0 h-full w-full object-cover object-[25%]"
      />
    </footer>
  </body>
</html>
