---
import Contacts from "../components/Contacts.astro";
import Profile from "../components/Profile.astro";
import { ProjectList } from "../components/ProjectList.tsx";
import { ALT_FOOTER_BG, PROJECTS_HEADING } from "../strings.ts";
import "../styles/fonts.css";
import "../styles/tailwind.css";

/**
 * Changing scrollbar colors are kind of... jank on Chrome.
 * They do not update until "interacted" with, e.g. hovered
 *
 * On Firefox it works well enough.
 */
const scrollbars = [
  "scrollbar-thin",
  ...["scrollbar-thumb-primary", "scrollbar-track-white"],
  ...[
    "data-[section=contacts]:scrollbar-thumb-white",
    "data-[section=contacts]:scrollbar-track-primary",
  ],
].join(" ");
---

<!doctype html>
<html lang="en" class={`scroll-smooth ${scrollbars}`}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script>
      import "../scrollspy.ts";
    </script>
  </head>

  <body
    class="font-text text-primary lowercase selection:bg-primary selection:text-white"
  >
    <nav class="fixed right-0 grid gap-4 p-4">
      <a href="#profile" class="w-6 h-6 rounded-full bg-red-500"></a>
      <a href="#projects" class="w-6 h-6 rounded-full bg-red-500"></a>
      <a href="#contacts" class="w-6 h-6 rounded-full bg-red-500"></a>
    </nav>

    <header
      id="profile"
      class="min-h-screen grid items-center bg-[url('/texture.png')] bg-white"
    >
      <!-- <Profile /> -->
    </header>

    <section
      id="projects"
      class="min-h-screen grid items-center bg-[url('/texture.png')] bg-white"
    >
      <article
        class="container mx-auto py-12 px-8 min-h-full grid grid-rows-[auto_1fr] gap-6"
      >
        <h2 class="font-title font-extrabold text-5xl">
          {PROJECTS_HEADING}
        </h2>
        <!-- <ProjectList client:load /> -->
      </article>
    </section>

    <footer
      id="contacts"
      class="min-h-screen grid items-center bg-primary/90 text-white selection:!bg-white selection:!text-primary"
    >
      <Contacts />
      <img
        src="/footer.jpg"
        alt={ALT_FOOTER_BG}
        class="-z-10 fixed top-0 h-full w-full object-cover object-[25%]"
      />
    </footer>
  </body>
</html>
