---
import Header from "../components/Header.astro";
import "../styles/fonts.css";
import "../styles/tailwind.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body
    class="bg-primary/75 text-white scrollbar-thin scrollbar-thumb-primary font-text"
  >
    <Header />
    <section class="h-screen">projects</section>
    <section class="h-screen">contact</section>
  </body>
</html>
