---
import strings, { decrypt } from '../strings.js';

const main = strings.HEADER_MAIN.map(decrypt);
---

<h1 class="font-heading text-primary fw-light">
  {main[0]}
  <span class="fw-bold">{main[1]}</span>
</h1>

<style>
  h1 {
    margin: 0;

    grid-area: heading;
  }

  @media only screen and (min-width: 0px) {
    h1 {
      font-size: 3rem;
    }
  }
  @media only screen and (min-width: 992px) {
    h1 {
      /* Bootstrap's responsive font size syntax with the base overridden */
      font-size: calc(5rem + 1.5vw);

      margin-top: 1rem;
      padding-left: 1.5rem;

      align-self: end;
    }
  }
</style>
