---
import ProjectList from './ProjectList.svelte';
import strings, { decrypt } from '../strings.js';
---

<main class="min-vh-100 p-5 flex-maximize text-lowercase">
  <div class="container flex-maximize">
    <article class="vstack">
      <h2 class="font-heading text-primary fw-bold">
        {decrypt(strings.PROJECTS_HEADING)}
      </h2>
      <ProjectList client:idle />
    </article>
  </div>
</main>

<style>
  main {
    background-image: url('/bg.png');
  }
</style>
