---
import ProjectList from './ProjectList.svelte';
import { decrypt, PROJECTS_HEADING } from '../strings.js';
---

<main
  class="min-vh-100 p-3 pb-5 flex-maximize text-lowercase bg-white"
  id="projects"
>
  <div class="container flex-maximize">
    <article class="vstack">
      <h2 class="font-heading text-primary fw-bold">
        {decrypt(PROJECTS_HEADING)}
      </h2>
      <ProjectList client:visible />
    </article>
  </div>
</main>

<style>
  main {
    background-image: url('/bg.png');
  }
</style>
