---
---

<!--  Uses Bootstrap's Scrollspy
  --  It requires two (2) elements:
  --  - A wrapper for the contents to be spied on
  --  - A set of links to reflect the "spying" status
  -->
<div data-bs-spy="scroll" data-bs-target="#navigation" tabindex="0">
  <slot />
</div>

<div class="p-3" id="navigation">
  <!--  Reversed to be able to select the "previous" siblings of the last item
    --  Will be set back to proper order in CSS.
    -->
  <a class="rounded-pill" href="#contact"></a>
  <a class="rounded-pill" href="#projects"></a>
  <a class="rounded-pill" href="#intro"></a>
</div>

<style>
  /*  Positioning of the navigation group
   *
   *  Flex direction is reversed to be able to select "previous" siblings
   *  This is used for the coloring of the items
   *
   *  Gap is closely related with the items' sizing
   */
  #navigation {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
  }
  @media only screen and (min-width: 576px) {
    #navigation {
      position: fixed;
      bottom: unset;
      left: unset;
      top: 0;
      right: 0;
      transform: unset;

      display: flex;
      flex-direction: column-reverse;
      gap: 1.25rem;
    }
  }

  /*  Sizes of the navigation items
   *  Related with the gaps between items
   */
  a {
    width: var(--nav-size);
    height: var(--nav-size);
  }
  a {
    --nav-size: 1.5rem;
  }
  @media only screen and (min-width: 576px) {
    a {
      --nav-size: 1.25rem;
    }
  }

  /*  Colors of the navigation item
   *  Bootstrap's Scrollspy adds an `.active` class to links of
   *  sections currently in view.
   *
   *  The first `.active` item is actually the last section.
   */
  a {
    --nav-color: rgb(var(--bs-primary-rgb));
    background-color: var(--nav-color);
  }
  a:not(.active) {
    opacity: 0.5;
  }
  a:first-of-type.active,
  a:first-of-type.active ~ a {
    --nav-color: white;
  }
</style>
