---
// export interface Props {
//   name: string;
//   description: string;
//   image: string;
// }
---

<section class="card project">
  <img src="/favicon.png" class="card-img-top" />
  <div class="card-body">
    <h5 class="card-title">Project name</h5>
    <p class="card-text">
      Short description of the project. Just a couple of sentences will do.
    </p>
  </div>
</section>
