---
// export interface Props {
//   name: string;
//   description: string;
//   image: string;
// }
---

<section class="card project">
  <!-- <img src="/favicon.png" class="card-img-top" /> -->
  <div class="card-img-top bg-primary text-light flex-center">placeholder</div>

  <div class="card-body text-lowercase">
    <h5 class="card-title font-heading text-primary fw-bold">Project name</h5>
    <p class="card-text">
      Short description of the project. Just a couple of sentences will do.
    </p>
  </div>
</section>

<style>
  .card-img-top {
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }
</style>
